<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" throwExceptions="true"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets>
    <target name="as" xsi:type="File" fileName="${basedir}/Logs/Midas-${date:MM-dd}.log" layout="${time} ${level} [${callsite:includeNamespace=false}:${callsite-linenumber}] | ${message} | ${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
    <target name="as2" xsi:type="Console" layout="${time} ${level} [${callsite:includeNamespace=false}:${callsite-linenumber}] | ${message} | ${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
    <target name="as3" xsi:type="Debugger" layout="${time} ${level} [${callsite:includeNamespace=false}:${callsite-linenumber}] | ${message} | ${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="as2" />
  </rules>
</nlog>