<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 
  <appSettings>
    <add key="HOST_COMMAND_CENTER" value="http://192.168.145.105:8001" />
    <add key="Message_Send_Service" value="false" />
    <add key="Message_Show" value="true" />
  </appSettings>
</configuration>